.name {
    font-size:35px; 
    font-family:futura; 
    color:rgb(61, 133, 93);
    border-style: none none dashed none;
    border-bottom-width: thick;
    border-color: rgb(166, 194, 188)

}

.information{
    font-size:20px;
    font-style: bold;
    font-family: none,palatino,none;
}

.box{
    border: 5px;
    border-color: rgb(178, 204, 84);
    border-style:dotted;
    padding: 20px;
    margin: 10px;

    background-color: rgb(249, 253, 194);
}


#email:hover{
    color :rgb(119, 173, 43);
}

ul{
    list-style:none;
}