*{
    margin: 0 auto;
    text-align: center;
}

.text1{
    margin: 30px auto 30px auto;
    font-size: 35px;
    color: rgb(236, 143, 186);
    font-weight: bold;
}

.vans{
    font-size: 30px;
}

.vans_photo{
    width: 300px;
    height: 300px;
}

.text2{
    margin: 30px auto auto auto;
    font-size: 35px;
    color: rgb(34, 163, 77);
    font-weight: bold;

}

.text3{
    margin: 30px auto auto auto;
    font-size: 35px;
    color: rgb(25, 48, 179);
    font-weight: bold;

}

.btn{
    color:aliceblue;
    font-weight: strong;
    padding: 10px 50px;
    font-size: 20px;
}

.btn-green{
    background-color: green;
}

.btn-navy{
    background-color: navy;
}

#info{
    margin : 10px 0 0 0;
}

/* table->div(flex 속성 이용) item 사이 간격 줄이기 위해 margin 조절 */
.container{
    display: flex;
}

.item1{
    margin-left: 250px;

}
.item2{
    margin-right: 250px;

}

